// summary-banner styles
.summary-banner__image {
  padding: 100px 0;
  height: 560px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f6f3ee;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bg-management.jpg');
  overflow: hidden;

  @include breakpoint(mobileonly) {
    padding: 20px 0;
    align-items: flex-start;
  }
}

.summary-banner__content {
  max-width: 400px;
  line-height: 1.5;

  .quote {
    color: $gold;
    font-size: 1.75rem;
    line-height: 12px;
    font-style: italic;

    &:first-child {
      margin-left: -13px;
      margin-right: 3px;
    }
  }

  .name,
  .title,
  .company {
    display: block;
  }

  .name {
    font-size: 1.25rem;
    color: $gold;
  }

  .jobtitle {
    font-size: 1rem;
    color: $gold;
    font-weight: bold;
    text-transform: initial;
  }
}

.summary-banner__content-image {
  position: absolute;
  right: 50%;
  top: 0;
  transform: translateX(100%);
}

#chairmans-message {
  .summary-banner__content-image {
    @include breakpoint(mobileonly) {
      width: 50%;
      top: auto;
      bottom: 0;
    }
  }

  .summary-banner__content {
    padding-left: 20px;

    .title {
      margin-left: -20px;
    }
  }
}

#management-report {

  .summary-banner__image {
    height: 500px;
    text-align: center;

    .title {
      text-align: left;
    }

    @include breakpoint(mobileonly) {
      height: 200px;
      padding: 0;
    }
  }

  .summary-banner__image-column {
    height: 100%;
  }

  .summary-banner__image .container {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  .summary-banner__content-image{
    left: 0;
    transform: none;
  }

  .summary-banner__content {
    max-width: none;
    padding: 20px 0;
    text-align: center;

    .column {
      padding: 0 20px;
    }
  }

  .column {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    max-width: 360px;
    text-align: left;
  }
}

.summary-banner__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 0.875rem;
  color: #fff;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;

  img {
    transform: rotate(90deg);
    position: relative;
  }

  &:hover {
    opacity: 0.9;
  }

  span {
    margin-left: 8px;
  }
}

.summary-banner__text {
  display: none;

  .title {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: initial;
    margin: 2rem 0 1rem;
    padding-left: 15px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: 0;
      background: white;
    }
  }
}
