// summary-banner styles
.summary-banner__image {
  padding: 100px 0;
  height: 500px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f6f3ee;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bg-management.jpg');
  overflow: hidden;
}

.summary-banner__content {
  max-width: 400px;
  line-height: 1.5;

  .quote {
    color: $gold;
    font-size: 1.75rem;
    line-height: 12px;
    font-style: italic;

    &:first-child {
      margin-left: -13px;
      margin-right: 3px;
    }
  }

  .name,
  .title,
  .company {
    display: block;
  }

  .name {
    font-size: 1.25rem;
    color: $gold;
  }

  .jobtitle {
    font-size: 1rem;
    color: $gold;
    font-weight: bold;
    text-transform: initial;
  }
}

.summary-banner__content-image {
  position: absolute;
  right: 50%;
  top: 0;
  transform: translateX(100%);
}

#management-report {
  .container {
    max-width: 700px;
  }

  .summary-banner__image {
    height: 400px;
  }

  .summary-banner__image .container {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }

  .summary-banner__content-image{
    left: 0;
    transform: none;
  }

  .summary-banner__content {
    max-width: none;
    padding: 30px 0;

    .column {
      padding: 0 20px;
    }
  }

  .column {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
  }
}

.summary-banner__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 0.875rem;
  color: #fff;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  span {
    margin-left: 8px;
  }

  &.is-active {
    img {
      transform: rotate(90deg);
    }
  }
}

.summary-banner__text {
  display: none;

  .title {
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: initial;
  }
}
