// footer styles
.footer {
  background: #dddddd;
  padding: 15px 0;
  font-size: 0.75rem;
  line-height: 1;
  color: $bodyColor;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__link {
  padding: 0 8px;

  &:hover {
    text-decoration: underline;
  }
}

.footer__content {
  .footer__link {
    border-left: 1px solid $bodyColor;
  }
  span {
    display: inline-block;
    padding: 0 8px;
  }
}
