// footer styles
.footer {
  background: #dddddd;
  padding: 15px 0;
  font-size: 0.75rem;
  line-height: 1;
  color: $bodyColor;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobileonly) {
      display: block;
    }
  }
}

.footer__link {
  padding: 0 8px;
  display: inline-block;

  &:first-child {
    padding-left: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint(mobileonly) {
    margin: 8px 0;
  }
}

.footer__content {
  @include breakpoint(mobileonly) {
    margin-top: 0;
  }

  .footer__link {
    border-left: 1px solid $bodyColor;
  }

  span {
    display: inline-block;
    padding: 0 8px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-left: 1px solid $bodyColor;
    }
  }
}
