mixin corporate-information(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section#corporate-information.corporate-information.bg--gold3(class=spec.__class)&attributes(attributes)
    .container
      .corporate-information__content
        h2.title.title--gold Corporate Information
        p The Singapore Institute of Management is a not-for-profit professional membership organisation. It was incorporated and registered under the Societies Ordinance (Ch. 228) on 27 November 1964.
        p The principal activities of the Group include the provision of membership services, pre-employment and continuing education and training as well as other human capital development services for different segments of individual learners and organisations in Singapore and the region.
      .corporate-information__content
        each item in site.data.corporateaddress
          .corporate-information__address
            span.title=item.title
            span.name=item.name
            if item.address
              span.address!=item.address

