extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/dare2b-banner/dare2b-banner

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +dare2b-banner(site.data.home[1])
    .bg--white.pt-50.pb-20
      .container
        img(src=baseUrl + 'images/sim-global.png')
        h2.title.t--green GIVING OUR STUDENTS A HEAD START
        .row
          .col-sm-6
            p At<strong class="t--green">SIM Global Education (SIM GE)</strong>, we remain steadfast in helping our students gain a head start in life with programmes that hone their competencies and boost their employability. While we continue to update our existing programmes to ensure they remain relevant, we also introduced new programmes that develop talent to meet new and emerging needs of the economy.
          .col-sm-6
          .col-sm-8
            p
              strong.t--green In 2018, we launched the following programmes
            button(type="button").js-toggle.btn-toggle.btn-toggle-green
              img(src="../images/arrow-down.png")
              span View
            .toggle-container.programmes-list.bg--green
              p By La Trobe University, Australia
              ul
                li Bachelor of Business (Event Management)
                li Bachelor of Business (Tourism and Hospitality)

              p By RMIT University, Australia
              ul
                li Bachelor of Business (International Business)

              p By University of Wollongong, Australia
              ul
                li Bachelor of Computer Science (Big Data)

              p By Grenoble Ecole de Management, France
              ul
                li Master in International Business

              p By University of Birmingham, United Kingdom
              ul
                li Bachelor of Science (Honours) Business Management with Communications

              p By University of London, United Kingdom
              ul
                li Bachelor of Science (Honours) in Data Science and Business Analytics
                li Graduate Diploma in Business Analytics
                li Graduate Diploma in E-Business and Social Media
                li Graduate Diploma in Politics

              p By University of Stirling, United Kingdom
              ul
                li Bachelor of Arts (Honours) in Sport Business Management
                li Bachelor of Arts (Honours) in Sustainable Event Management
                li Bachelor of Arts (Honours) in Retail Marketing
                li Bachelor of Arts (Honours) in Sports Marketing

              p By The University of Warwick, United Kingdom
              ul
                li Master of Science in Cyber Security and Management
                li Master of Science in Programme and Project Management
              button(type="button").btn-close.js-close-toggle
                img(src="../images/close-green.png")
                span.t--green Close
        .row.pt-50
          .col-sm-6
            p As at the end of December, SIM GE offers a suite of over 80 diploma and degree programmes with 12 university partners across arts and social sciences, business, information technology, computer science and other specialty areas like nursing and aviation.
            p As a testament to our quality, our programmes by University of Birmingham, La Trobe University, University of London, RMIT University and University of Wollongong received accreditation from the Chinese Service Centre of Scholarly Exchange, an affiliation to the Ministry of Education of the People's Republic of China.
            p These accreditations for SIM GE's partner universities in China differentiate our graduates and open doors for them to employment and career advancement opportunities in China.
            p Once again, our students made us very proud with their stellar academic achievements. For example, we had a record-breaking 227 University of London (UOL) graduates who obtained First Class Honours. This made us the teaching centre with the highest number of First Class Honours graduates among all UOL centres worldwide, a record we have been maintaining for over 10 years. In addition, 39 SIM GE students, the highest number to date, received the UOL award for academic achievement, which is given to the best candidates around the world who take the examinations each year. Separately, a commendable 70% of the SIM-University at Buffalo graduates obtained Latin Honours.
          .col-sm-6
            figure.figure.figure--green
              img(src=baseUrl + 'images/optimised-sim-global-1.jpg')
              figcaption Caption
            figure.figure.figure--green
              img(src=baseUrl + 'images/optimised-sim-global-2.jpg')
              figcaption Caption
    .bg--orange.pt-20.pb-20


  +footer()
