mixin about-accordion(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .about-accordion(class=spec.__class)&attributes(attributes)
    .container
      p Today, the SIM Group is a diverse and vibrant organisation that caters to different segments of learners through the following brands:
      .about-accordion__list
        button.about-accordion__button.js-about-accordion(type="button" data-target="global")
          span.text SIM Global Education
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="global")
          p <strong>SIM Global Education (SIM GE)</strong> is a leading private education institution in Singapore. It offers more than 80 academic programmes ranging from its own diploma and graduate diploma courses to Bachelor’s and Master’s programmes with top ranking and reputable universities from Australia, Europe, the United Kingdom and the United States. With an enrolment of about 18,000 full and part-time students and adult learners from over 40 countries with about 20% being full-time international students, SIM GE’s holistic learning approach and culturally diverse learning environment aim to equip students with an all-rounded global education. Besides building competencies and skills needed to thrive in the real world, SIM GE also hones the soft skills of students through a wide range of student life, career development and networking activities.
        button.about-accordion__button.js-about-accordion(type="button" data-target="international")
          span.text SIM International Academy
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="international")
          p <strong>SIM International Academy (SIM IA)</strong> offers the Cambridge IGCSE and International A Level programmes, developed and awarded by Cambridge Assessment International Education, United Kingdom, for students aged 12 to 18. SIM IA’s curriculum focuses on applied learning in STEM (Science, Technology, Engineering and Mathematics) as well as the Social Sciences. Taught by faculty experienced in local and international curricula, students are nurtured to become curious learners, community builders and creative leaders. Beyond academics, students’ learning experience is enriched through co-curricular activities, service-learning and a boarding programme. Upon graduation, students can explore tertiary education pathways at SIM Global Education (SIM GE) or other universities worldwide.
        button.about-accordion__button.js-about-accordion(type="button" data-target="cambodia")
          span.text Singapore (Cambodia) International Academy
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="cambodia")
          p <strong>Singapore (Cambodia) International Academy (SCIA)</strong> is a full K-12 school catering to students from pre-school to grade 12. It offers a unique programme that blends both the Singapore and Cambridge curricula. With a strong focus on applied learning in STEM (Science, Technology, Engineering and Mathematics), SCIA’s educational programmes are structured around five essential components of holistic education: Cognitive, Aesthetics, Moral, Physical and Social development. Supported by the school’s signature programmes in entrepreneurship and leadership development, the curriculum is delivered through varied pedagogical approaches to equip students with the relevant knowledge and skillsets for the global age. SCIA’s campus is strategically situated in the prestigious enclave of One Park Condominium in Phnom Penh City Center (PPCC). SCIA started its first cohort of students across all levels in August 2018.
        button.about-accordion__button.js-about-accordion(type="button" data-target="professional")
          span.text SIM Professional Development
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="professional")
          p <strong>SIM Professional Development (SIM PD)</strong> is Singapore's leading professional learning and transformation partner for enterprises, as well as professionals, managers and executives (PMEs), to power up their skills and mindsets through exposure to top global business and management thinkers. Annually, more than 10,000 PMEs have benefited from over 500 executive programmes, business events and professional interest group networks to become versatile and adept at leading and managing people to achieve their peak and drive business value. SIM PD also collaborates with enterprises to develop strategic roadmaps and customises deep skilling and coaching solutions to optimise their talent and ultimately grow their business.
        button.about-accordion__button.js-about-accordion(type="button" data-target="platform")
          span.text Platform E
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="platform")
          p <strong>Platform E</strong> is more than an entrepreneurship programme, or an incubator or accelerator. It is Singapore’s most comprehensive entrepreneurship ecosystem that grows both the idea and the entrepreneur to produce resilient entrepreneurial leaders with viable business plans. Its unique entrepreneurship programmes combine rigorous knowledge with practicum taught and facilitated by practising entrepreneurs and investors. The programmes take place in Platform E’s 25,000 square feet and 220-desk co-working space which is designed to immerse aspiring entrepreneurs in an environment where they can engage with like-minded people to germinate and cross-pollinate ideas, and test and arrive at solutions that will lead to business propositions.








