mixin about-accordion(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .about-accordion(class=spec.__class)&attributes(attributes)
    .container
      p Today, the SIM Group is a diverse and vibrant organisation that caters to different segments of learners through the following brands:
      .about-accordion__list
        button.about-accordion__button.js-about-accordion(type="button" data-target="global")
          span.text SIM Global Education
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="global")
          p <strong>SIM Global Education (SIM GE)</strong> is a leading private education institution in Singapore. It offers more than 80 academic programmes ranging from its own diploma and graduate diploma courses to Bachelor’s and Master’s programmes with top ranking and reputable universities from Australia, Europe, the United Kingdom and the United States. Its current enrolment stands at about 18,000 full and part-time students and adult learners from over 40 countries with about 20% being full-time international students, SIM GE’s holistic learning approach and culturally diverse learning environment aim to equip students with an all-rounded global education. Besides building competencies and skills needed to thrive in the real world, SIM GE also hones the soft skills of students through a wide range of student life, career development and networking activities.
        button.about-accordion__button.js-about-accordion(type="button" data-target="international")
          span.text SIM International Academy
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="international")
          p <strong>SIM International Academy (SIM IA)</strong> offers students aged 12 to 18 the Cambridge IGCSE and International A Level programmes, developed and awarded by Cambridge Assessment International Education, United Kingdom, for students aged 12 to 18. SIM IA’s curriculum focuses on applied learning in STEM (Science, Technology, Engineering and Mathematics) as well as the Social Sciences. Taught by faculty experienced in local and international curricula, students are nurtured to become curious learners, community builders and creative leaders. Beyond academics, students’ learning experience is enriched through co-curricular activities, service-learning and a boarding programme. Upon graduation, students can explore tertiary education pathways at SIM Global Education (SIM GE) or other universities worldwide.
        button.about-accordion__button.js-about-accordion(type="button" data-target="cambodia")
          span.text Singapore (Cambodia) International Academy
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="cambodia")
          p <strong>Singapore (Cambodia) International Academy (SCIA)</strong> endeavours to be the centre of excellence in education and higher learning. Recognising the importance of nurturing future leaders in Cambodia, SCIA offers the following programmes to cater to the different needs of learners at different levels of education: early childhood, primary, secondary and pre-university education, as well as executive education and educator development. With the expertise of trained Singapore and international educators, SCIA provides a holistic and rigorous education with a global perspective. SCIA's vibrant campus is strategically situated in the prestigious enclave of Phnom Penh City Center – One Park Condominium. SCIA is a registered school of Cambridge Assessment International Education, offering the Cambridge (Primary, Lower Secondary, Upper Secondary and Advanced) programmes for students aged 6 to 18 years old. SCIA is also appointed by the University of London as the first and only Recognised Teaching Centre in Cambodia to offer the International Foundation Programme.
        button.about-accordion__button.js-about-accordion(type="button" data-target="professional")
          span.text SIM Professional Development
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="professional")
          p <strong>SIM Professional Development (SIM PD)</strong> is Singapore's leading professional learning and transformation partner for enterprises and professionals to power up their skills and mindsets through exposure to top global business and management thinkers. Annually, SIM PD offers over 500 executive and business programmes as well as professional interest group networking events. Some 10,000 professionals benefit from these programmes as they learn to be versatile and adept at leading and managing people to achieve their peak and drive business value. SIM PD also collaborates with enterprises to develop strategic roadmaps and customised deep skilling and coaching solutions to optimise their talent and grow their business.
        button.about-accordion__button.js-about-accordion(type="button" data-target="platform")
          span.text Platform E
          img.img(src="../images/arrow-down.png")
        .about-accordion__content(data-target="platform")
          p <strong>Platform E (PE)</strong> is a holistic entrepreneurship learning hub that fosters the entrepreneurial mindset and skill sets in individuals so that they succeed in their businesses in a volatile, uncertain, complex, ambiguous and hyper-connected (VUCAH) world. The PE programmes develop resilient and successful entrepreneurial talent through intrinsic experiences by combining mentorship with practice-based learning and proven start-up methodologies. PE is supported by a strong and collaborative ecosystem of experienced industry partners with initiatives that address the different needs in the growth journey of entrepreneurs and start-ups.








