// home-banner styles
.home-banner {
  min-height: calc(100vh - 92px);
  background-size: auto 100%;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &.is-reversed {
    background-position: left center;
    .container {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.home-banner__title {
  font-weight: 400;
  border: 4px solid #fff;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  line-height: 1;
  margin-bottom: 8px;
  font-size: 2rem;
  font-family: 'Open Sans Condensed', sans-serif;

  .hashtag {
    display: inline-block;
    color: #000;
    background: #fff;
    padding: 5px 8px 5px 3px;
  }

  .text {
    padding: 5px 10px;
    display: inline-block;
    opacity: 0;

    &.is-show {
      opacity: 1;
    }
  }
}

.home-banner__content {
  color: #fff;
  width: 50%;
  line-height: 1.4;
}

.home-banner__text {
  max-width: 400px;
  text-shadow: 0 0 10px #000;
}

.home-banner__video {
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
