extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/about-banner/about-banner
include ../_modules/about-accordion/about-accordion
include ../_modules/organisation-chart/organisation-chart
include ../_modules/corporate-information/corporate-information
include ../_modules/council-images/council-images
include ../_modules/council-committees/council-committees
include ../_modules/council-table/council-table

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +about-banner()
    +about-accordion()
    +organisation-chart()
    #corporate-governance.corporate-governance.bg--gold.pt-50.pb-50
      .container
        h2.title.title--white Corporate Governance
        p As a not-for-profit organisation under the purview of the Charities Act, SIM enforces stringent corporate governance guidelines to ensure that we are transparent and are compliant with legal regulatory requirements.
        p The Group adopts an enterprise-wide, systematic and integrated approach to risk management in identifying key risks and ensuring appropriate risk mitigation measures are in place, reviewed and monitored.
        p Assuming the overall governance of the SIM Group is the Governing Council. Comprising independent elected members, the Council is responsible for the strategic direction of the Group, acts as a watchdog on all financial, remuneration, risk and audit matters and closely monitors compliance with control measures.
        p The Internal Audit Division, as part of the SIM Group's corporate governance framework, supports the Governing Council to oversee the SIM Group’s functions in whistle-blowing, internal and external audits.
        p As part of good corporate governance, SIM has in place the Whistle-Blowing Policy and Conflict of Interest best practices. Under the latter, Council members or staff who have personal interests in business transactions or contracts that SIM may enter into or have vested interest in any organisation that SIM has dealings with, are required to declare such conflicts of interest to the Council or senior management immediately, and to abstain from any discussion or decision making on the matter of interest.
        p The Whistle-Blowing Policy extends the notion of corporate governance to all staff and vendors, allowing them to take responsibility in playing their part to help SIM achieve a greater level of public confidence in our corporate governance.
    #sim-governing-council.bg--gold2.pt-50.pb-50
      .container
        h2.title.title--white SIM Governing Council
        +council-images({data: site.data.councilgoverning})
        h3.subtitle.title--white.mb-5 Honorary Chairman
        p Dr Richard K M Eu
        h2.title.title--white SIM Governing Council Committees
        p.subtitle.text--white Until 16 May
        +council-committees({data: site.data.councilcommittee})
        p.subtitle.text--white From 16 May
        +council-committees({data: site.data.councilcommittee2})
        p.subtitle.text--white SIM Governing Council Meeting Attendance
        +council-table()
    +corporate-information()
  +footer()
