// council-table styles
.council-table__container {
  display: none;
}

.council-table {
  color: #fff;

  td {
    width: 20%;

    &:first-child {
      min-width: 220px;
    }
  }

  th,
  td {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  th {
    font-weight: bold;
    padding: 10px;
  }

  td {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
  }

  .thead--title {
    background: $gold4;
    color: $gold;
    border: 2px solid $gold2;
    border-top-width: 5px;
  }

  .thead--meeting {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    font-size: 1.25rem;
  }
}

.council-table__footnote {
  color: #fff;
  margin: 10px;
  font-size: 0.875rem;

  p {
    color: #fff;
    margin: 0;
  }

  span {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 30px);

    &:first-child {
      width: 20px;
    }
  }
}
