$bodyColor: #333;
$gold: #9d8641;
$goldHover: darken($gold, 10%);
$gold2: lighten($gold, 20%);
$gold3: lighten($gold, 53%);
$gold4: #f5f3ec;
$gold5: #ebe7d9;

$blueGrey: #cfd4d8;

$simGreen: #0e6644;
$simOrange: #e13c20;
$simLavender: #443e80;
$simBlue: #0c2583;
$simPurple: #74117d;
