// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,400,400i,700,700i');
@import 'node_modules/slick-carousel/slick/slick.scss';

// Import Modules
@import '_variables';
@import '../_modules/header/header';
@import '../_modules/footer/footer';

@import '../_modules/home-banner/home-banner';
@import '../_modules/about-banner/about-banner';
@import '../_modules/about-accordion/about-accordion';
@import '../_modules/council-images/council-images';
@import '../_modules/council-committees/council-committees';
@import '../_modules/council-table/council-table';
@import '../_modules/summary-banner/summary-banner';
@import '../_modules/corporate-information/corporate-information';
@import '../_modules/key-statistic/key-statistic';
@import '../_modules/2018-glance/2018-glance';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding-top: 92px;
  min-height: 100vh;
}

.title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.5rem;
}

.title--gold {
  color: $gold;
}

.title--white,
.text--white {
  color: #fff;
}

button {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.bg--white {
  background: #fff;
}

.bg--gold {
  background: $gold;
  color: #fff;
}

.bg--gold2 {
  background: $gold2;
}

.bg--gold3 {
  background: $gold3;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

button {
  outline: 0;
  cursor: pointer;
}

.btn-close {
  display: block;
  color: $gold;
  background: transparent;
  text-align: center;
  border: 0;
  font-size: 0.75rem;

  img,
  span {
    display: block;
  }

  img {
    margin: 0 auto 5px;
  }
}
