// Normalize Styles
$gutter-width: 2rem;

@import 'node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,400,400i,700,700i');
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/flexboxgrid-sass/flexboxgrid';

// Import Modules
@import '_variables';
@import '_mixins';
@import '../_modules/header/header';
@import '../_modules/footer/footer';

@import '../_modules/home-banner/home-banner';
@import '../_modules/banner-nav/banner-nav';
@import '../_modules/about-banner/about-banner';
@import '../_modules/about-accordion/about-accordion';
@import '../_modules/council-images/council-images';
@import '../_modules/council-committees/council-committees';
@import '../_modules/council-table/council-table';
@import '../_modules/summary-banner/summary-banner';
@import '../_modules/organisation-chart/organisation-chart';
@import '../_modules/corporate-information/corporate-information';
@import '../_modules/key-statistic/key-statistic';
@import '../_modules/2018-glance/2018-glance';
@import '../_modules/dare2b-banner/dare2b-banner';
@import '../_modules/video-player/video-player';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  padding-top: 92px;
  min-height: 100vh;

  @include breakpoint(nonlaptop) {
    padding-top: 68px;
  }
}

.title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 5px;

  @include breakpoint(mobileonly) {
    font-size: 1.75rem;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.5rem;
}

.bigger {
  font-size: 1.125rem;
}

.title--gold {
  color: $gold;
}

.title--white,
.text--white,
.t--white {
  color: #fff;
}

.t--green {
  color: $simGreen;
}

.t--lavender {
  color: $simLavender;
}

.t--orange {
  color: $simOrange;
}

.t--blue {
  color: $simBlue;
}

.t--purple {
  color: $simPurple;
}

.t--gold {
  color: $gold;
}

.t--grey {
  color: $grey;
}

button {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.bg--white {
  background: #fff;
}

.bg--gold {
  background: $gold;
  color: #fff;
}

.bg--gold2 {
  background: $gold2;
}

.bg--gold3 {
  background: $gold3;
}

.bg--gold4 {
  background: $gold4;
}

.bg--gold5 {
  background: $gold5;
}

.bg--orange {
  background: #fff1ec;
}

.bg--blue {
  background: #e5f1f8;
}

.bg--green {
  background: #e6f1ee;
}

.bg--lavender {
  background: #eeeef3;
}

.bg--purple {
  background: #f3e9f4;
}

.pt-50 {
  padding-top: 50px;

  @include breakpoint(mobileonly) {
    padding-top: 30px;
  }
}

.pb-50 {
  padding-bottom: 50px;

  @include breakpoint(mobileonly) {
    padding-bottom: 30px;
  }
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-0 {
  margin-top: 0;
}

button {
  outline: 0;
  cursor: pointer;
}

.btn-close {
  display: block;
  color: $gold;
  background: transparent;
  text-align: center;
  border: 0;
  font-size: 0.75rem;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.9;
  }

  img,
  span {
    display: block;
  }

  img {
    margin: 0 auto 5px;
  }

  span {
    display: none;
  }
}

.figure {
  width: 100%;
  margin: 1em 0 0;

  &:first-child {
    margin-top: 0;
  }

  & + .figure {
    margin-top: 0;
  }

  img {
    width: 100%;
    display: block;
  }

  figcaption {
    padding: 10px;
    font-size: 0.875rem;
  }

  &--green {
    figcaption {
      background: $simGreen;
      color: #fff;
    }
  }

  &--lavender {
    figcaption {
      background: $simLavender;
      color: #fff;
    }
  }

  &--orange {
    figcaption {
      background: $simOrange;
      color: #fff;
    }
  }

  &--blue {
    figcaption {
      background: $simBlue;
      color: #fff;
    }
  }

  &--purple {
    figcaption {
      background: $simPurple;
      color: #fff;
    }
  }

  &--gold {
    figcaption {
      background: $gold;
      color: #fff;
    }
  }
}

.figure-row {
  @include breakpoint(phablet) {
    .col-sm-6:first-child {
      padding-right: 0;
    }
    .col-sm-6:last-child {
      padding-left: 0;
    }
  }
}

.btn-toggle {
  background: transparent;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: transform 0.15s ease-in-out;
  font-size: 0.875rem;

  &:hover {
    opacity: 0.8;
  }

  span {
    margin-left: 8px;
  }

  img {
    transform: rotate(-90deg);
    background: $gold;
  }

  &.is-active {
    img {
      transform: rotate(0);
    }
  }

  &.btn-toggle-green {
    img {
      background: $simGreen;
    }
  }
}

.toggle-container {
  display: none;

  .btn-close {
    padding: 0;
    margin-top: 10px;
  }
}

.programmes-list {
  margin: 10px 0;
  padding: 20px;
  border-top: 5px solid $simGreen;
  border-bottom: 5px solid $simGreen;
  line-height: 1.6;

  p {
    margin: 0;
    color: $simGreen;
    font-weight: bold;
  }

  ul {
    margin: 0 0 15px;
    padding-left: 20px;
    font-size: 0.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.column-2 {
  column-count: 2;
  column-gap: 2rem;
  margin: 1.5em 0 2em;

  @include breakpoint(mobileonly) {
    column-count: 1;
  }

  *:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.column-3 {
  column-count: 3;
  column-gap: 2rem;

  @include breakpoint(mobileonly) {
    column-count: 1;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.col-sm-6 {
  *:first-child {
    margin-top: 0;
  }
}

.sim-logo {
  margin-bottom: 20px;

  & + .title {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.counted-table {
  width: 100%;
  margin-bottom: 40px;

  th {
    font-weight: bold;
    color: $gold;
    font-size: 1.125rem;
    border-bottom: 3px solid $gold;
  }

  td {
    border-bottom: 1px solid $bodyColor;
  }

  th,
  td {
    padding: 5px 0;
    text-align: left;

    &:last-child {
      width: 20%;
      min-width: 200px;

      @include breakpoint(mobileonly) {
        min-width: 110px;
      }
    }
  }
}

.counted-title {
  border-bottom: 3px solid $gold;
  padding-bottom: 5px;
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.interest-group-list {
  padding: 10px 20px 20px;
  margin-top: 10px;
}

.smaller {
  font-size: 0.875rem;
}
