extends ../_layouts/base

include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/summary-banner/summary-banner
include ../_modules/key-statistic/key-statistic
include ../_modules/2018-glance/2018-glance

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +header({baseUrl})
  main.main
    +summary-banner()
    +key-statistic()
    +2018-glance()
  +footer()

