// council-images styles
.council-images {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.council-images__item {
  flex: 1 14.2%;
  max-width: 14.2%;
  padding: 5px;

  @include breakpoint(nonlaptop) {
    flex: 1 25%;
    max-width: 25%;
  }

  @include breakpoint(mobileonly) {
    flex: 1 50%;
    max-width: 50%;
  }

  &.no-content {
    .council-images__image,
    .council-images__title {
      cursor: auto;
    }
  }
}

.council-images__image {
  cursor: pointer;
}

.council-images__title {
  margin: 5px 0;
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;

  .is-active & {
    font-weight: bold;
  }

  .smaller {
    font-size: 0.75rem;
  }
}

.council-images__content {
  padding: 30px;
  background: $gold3;
  display: none;
  margin: 15px 5px;
  position: relative;

  .bg--gold3 & {
    background: #fff;
  }

  .bg--white & {
    background: $lightGrey;
  }

  strong {
    font-weight: bold;
    color: $gold;
  }

  .date {
    margin-top: -20px;
    display: block;
  }
}

.council-images__name {
  font-size: 1.5rem;
  color: $gold;
  margin-top: 0;
  font-weight: 400;
}

.council-images__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $gold;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 0.875rem;

  span {
    margin-left: 8px;
  }
}

.council-images__close {
  margin: 20px 0 0 -10px;
}
