// council-images styles
.council-images {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.council-images__item {
  flex: 1 14.2%;
  max-width: 14.2%;
  padding: 5px;
}

.council-images__image {
  cursor: pointer;
}

.council-images__title {
  margin: 5px 0;
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;

  .is-active & {
    font-weight: bold;
  }
}

.council-images__content {
  padding: 30px;
  background: $gold3;
  display: none;
  margin: 15px 5px;
  position: relative;

  .bg--gold3 & {
    background: #fff;
  }

  .bg--white & {
    background: $lightGrey;
  }

  strong {
    font-weight: bold;
    color: $gold;
  }
}

.council-images__name {
  font-size: 1.5rem;
  color: $gold;
  margin-top: 0;
  font-weight: 400;
}

.council-images__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $gold;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 0.875rem;

  span {
    margin-left: 8px;
  }
}

.council-images__close {
  position: absolute;
  top: 15px;
  right: 10px;
}
