mixin 2018-glance(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .glance(class=spec.__class)&attributes(attributes)
    .container
      h2.title.title--gold 2018 At A Glance
      .glance__list
        each item in site.data.glance
          .glance__item
            if item.title
              h3.glance__title=item.title
            else
              span.glance__title.glance__title--empty
            .glance__text=item.text
              if item.image
                img.glance__image(src=item.image)
